.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 5%;
}

.category-container {
  display: flex;
  justify-content: space-between;
}

/* Catégorie Action */
.category-action {
  width: 30%;
  text-align: left;
}

/* Catégorie Aventure */
.category-aventure {
  width: 30%;
  margin: 0 auto; /* Center align */
}

/* Catégorie Animation */
.category-animation {
  width: 30%;
  text-align: right;
}

button {
  position: relative;
  background-color: #040608;
  color: rgb(20, 187, 48);
  padding: 3px;
  top: 3px;
  left: 3px;
}

.pos-url {
  position: relative;
  top: 4px;
  left: 3px;
}

.size-img {
  display: flex;
  flex-direction: column;
  width: 30%;
  cursor: pointer;
  transition-duration: 2s;
}

/* fin css pour la catégorie Action */

/* debut de css pour la categorie Aventure */
.size-img-category {
  cursor: pointer;
  transition-duration: 2s;
}
/* Animation hover + translate du paragraphe */
.size-img-category .card .content {
  padding: 2px;
  transition: 0.8s all ease;
  color: rgb(238, 234, 234);
  transform: translateX(200px);
  opacity: 0;
}
.size-img-category:hover .card:hover .content {
  transform: translateY(-30px);
  opacity: 1;
}

.size-img-category:hover .card:hover .content .fa-star {
  color: #f7f406;
}

@media (max-width: 1500px) {
  .size-img-category .card .content {
    display: none;
    opacity: 0;
  }
  .size-img-category:hover .card:hover .content {
    display: none;
  }
}

/* fin css pour la catégorie Animation */

/* page popular_moovie */
.size-img:hover {
  display: flex;
  flex-direction: column;
  width: 45%;
}

a {
  display: flex;
  flex-direction: column;
}

.size-img .card .content {
  padding: 2px;
  transition: 0.8s all ease;
  color: rgb(238, 234, 234);
  transform: translateX(200px);
  opacity: 0;
}
.size-img:hover .card:hover .content {
  transform: translateX(0px);
  opacity: 1;
}
